/* assignment 2, Sumi Lee, 301088176, 2022-03-05*/


body {
    font-size: 16px;
    background: #fafafa;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    color: #777;
    font-size: 2.5rem;
  }

  .text-light {
    color: #666;
  }
  
  /*section 005*/
  btnon {
    height: 65px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: #2f95f6;
    color: white;
  }
  /*section 005*/
  off-button {
    cursor: not-allowed;
    background-color: #c4e1fb;
  }
  /*section 005*/
  .title-bar {
    background: #31b6bb;
  }
  
  .title-bar-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
  }
