<!--section 005-->
<nav id = "b_nav" class="navbar navbar-dark text-center">
  <div id="copyright" class="container">
    <h6 class="display-6 navbar-text">&copy; Copyright 2022 Web Application Development </h6>
  </div>
</nav>


  <script src="/Scripts/app.js"></script>
  <script src= "/bootstrap/dist/js/bootstrap.min.js"> </script>
  <script src ="/jquery/dist/jquery.min.js"></script>
</body>
</html>